name: Deploy to Cloud Run

on:
  push:
    branches: [ main ]

env:
  PROJECT_ID: mi-primera-app-gcp
  REGION: us-central1
  SERVICE_NAME: mi-app-flask

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      id-token: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
    
    - name: Configure Docker
      run: gcloud auth configure-docker $REGION-docker.pkg.dev
    
    - name: Build and Push Docker image
      run: |
        docker build -t $REGION-docker.pkg.dev/$PROJECT_ID/mi-repo/mi-app:latest .
        docker push $REGION-docker.pkg.dev/$PROJECT_ID/mi-repo/mi-app:latest
    
    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy $SERVICE_NAME \
          --image $REGION-docker.pkg.dev/$PROJECT_ID/mi-repo/mi-app:latest \
          --region $REGION \
          --platform managed \
          --allow-unauthenticated
